/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

/* Universal Styles */
body {
    background-color: #000;
    color: white;
    line-height: 1.6;
}

/* Hero Section */
.hero {
    height: 100vh;
    background: url('./space.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.overlay {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    text-align: center;
    color: #E2C800;
    animation: fadeIn 3s ease-in-out;
}

.small-hero {
    height: 50vh;
}

h1 {
    font-size: 3rem;
    font-weight: 800;
}

/* Navigation Links */
nav {
    margin-top: 20px;
}

.nav-button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #000;
    color: #E2C800;
    border-radius: 25px;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-button:hover {
    background-color: #E2C800;
    color: #000;
}

/* Gallery */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 20px;
    background-color: #111;
}

.gallery-item img {
    width: 100%;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
}

.gallery-item img:hover {
    transform: scale(1.1);
}

/* Contact Form */
.contact-form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

form {
    width: 80%;
    max-width: 500px;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #E2C800;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
}

button {
    width: 100%;
    padding: 15px;
    border: none;
    background-color: #E2C800;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #fff;
    transform: scale(1.05);
}

/* Animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@media (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }

    .hero, .small-hero {
        height: 50vh;
    }

    nav .nav-button {
        padding: 8px 15px;
        font-size: 0.9rem;
    }

    .gallery-item img {
        border-radius: 10px;
    }
}
